<label>
    Beverage Color<span class="asteriskField">*</span> 
</label>
<table class="body__content-form-table-glass_size">
    <tr>
        <td class="glss-size-cell">
            <div class="select_color-cell color-1" style="background-color: white"></div>
            <br>
            <p>1</p>
        </td>        
        <td class="glss-size-cell">
            <div class="select_color-cell color-2" style="background-color: #E7A82F"></div>
            <br>
            <p>2</p>
        </td>        
        <td class="glss-size-cell">
            <div class="select_color-cell color-3" style="background-color: #E75B17"></div>
            <br>
            <p>3</p>
        </td>        
        <td class="glss-size-cell">
            <div class="select_color-cell color-4" style="background-color: green"></div>
            <br>
            <p>4</p>
        </td>        
        <td class="glss-size-cell">
            <div class="select_color-cell color-5" style="background-color: black"></div>
            <br>
            <p>5</p>
        </td>        
        <td class="glss-size-cell">
            <div class="select_color-cell color-6" style="background-color: #D81C30"></div>
            <br>
            <p>6</p>
        </td>
    </tr>
    {{form.beverage_price_1}}
</table>
