<label>
    Glass Size<span class="asteriskField">*</span> 
</label>
<table class="body__content-form-table-glass_size">
    <tr>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/12oz.png" />
            <br>
            <p> 12oz </p>
        </td>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/14oz.png" />
            <br>
            <p> 14oz </p>
        </td>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/16oz.png" />
            <br>
            <p> 16oz </p>
        </td>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/20oz.png" />
            <br>
            <p> 20oz </p>
        </td>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/d.png" />
            <br>
            <p> d </p>
        </td>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/p.png" />
            <br>
            <p> p </p>
        </td>
        <td class="glss-size-cell">
            <img src="/media/theonly/beverage_serving_graphic/glass_size/w.png" />
            <br>
            <p> w </p>
        </td>
    </tr>
</table>
