<label>
    beverage size<span class="asteriskField">*</span> 
</label>
<table class="body__content-form-table-glass_size">
    <tr>
        <td class="glss-size-cell">
            <button type="button" class="btn btn-default">500ml</button>
        </td>
        <td class="glss-size-cell">
            <button type="button" class="btn btn-default">400ml</button>
        </td>
        <td class="glss-size-cell">
            <button type="button" class="btn btn-default">325ml</button>
        </td>
        <td class="glss-size-cell">
            <button type="button" class="btn btn-default">300ml</button>
        </td>
    </tr>
</table>
