<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Live Draught List</title>
    <link href="css/css.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="refresh" content="120;" />
</head>

<body>
    <div align="center">
        <table width="1920" height="1080" cellspacing="0" cellpadding="0" class="thetable">
            <td height="170" colspan="2" align="center" valign="top">
                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top"><img src="images/logo.png" alt="..."></td>
                        <td width="0%" align="center" valign="Botom"><img src="images/ontap.png" width="324" height="77" alt="..."></td>
                        <td width="25%" align="center" valign="bottom"><img src="images/webs.png" width="411" height="117" alt="..."></td>
                    </tr>
                </table>
            </td>
            </tr>


            
            <tr height="840">
                <td align="center" width="50%" height="840" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">1
                                            <br>
                                            <span class="spec">NITRO:</span></td>
                                        <td class="brewery-cell"> Duggan's </td>
                                        <td class="beer-cell"><span class="brew"> No.7 Irish Stout </span>
                                            <span class="brewstyle"><br>
              (Dry Stout <em>- 4.9% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/20/6.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">2
                                            <br>
                                            <span class="spec">Nitro:</span></td>
                                        <td class="brewery-cell"> Barnstormer </td>
                                        <td class="beer-cell"><span class="brew">Dead Stick Stout <br>
            </span><span class="brewstyle"> (Stout <em>- 5.3% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/16/6.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">3
                                            <br>
                                            <span class="spec">Nitro:</span></td>
                                        <td class="brewery-cell"> Dieu du Ciel! </td>
                                        <td class="beer-cell"><span class="brew"> Peche MORTEL </span>
                                            <br>
                                            <span class="brewstyle"> (Imperial Coffee Stout <em>- 9.5% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/p/6.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">4
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Dieu du ciel! </td>
                                        <td class="beer-cell"><span class="brew"> rosee d'hibiscus </span>
                                            <br>
                                            <span class="brewstyle">( saison w/hibiscus<em>- 5.9% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/14/p.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">5
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Ommegang </td>
                                        <td class="beer-cell"><span class="brew"> Hennepin </span>
                                            <br>
                                            <span class="brewstyle">(Farmhouse <em>- 8.7% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/p/2.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">6
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Indie Ale House </td>
                                        <td class="beer-cell"><span class="brew"> Sword of Damocles </span>
                                            <br>
                                            <span class="brewstyle"> (Sour Farmhouse IPA <em>- 5.0% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/14/3.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">7
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Bellwoods </td>
                                        <td class="beer-cell"><span class="brew"> Jelly King </span>
                                            <br>
                                            <span class="brewstyle">(Dry-Hopped SOUR <em>- 5.6% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/14/3.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">8
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Amsterdam </td>
                                        <td class="beer-cell"><span class="brew"> Verago </span>
                                            <br>
                                            <span class="brewstyle">(Baltic Porter <em>- 8.2% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/14/6.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">9
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Oast House</td>
                                        <td class="beer-cell"><span class="brew"> Sunday's Best </span>
                                            <br>
                                            <span class="brewstyle">(Witbier <em>- 5.0% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/w/w.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">10
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Wellington </td>
                                        <td class="beer-cell"><span class="brew"> Winter Lager </span>
                                            <br>
                                            <span class="brewstyle">(helles bock <em>- 6.8% ABV</em>)</span></td>
                                        <td class="glass-cell"> <img src="images/glassware/20/3.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">11
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Beau's </td>
                                        <td class="beer-cell"><span class="brew"> Lugtread Lagered Ale </span>
                                            <br>
                                            <span class="brewstyle">(Golden Ale <em>- 5.2% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/20/1.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">12
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Publican House </td>
                                        <td class="beer-cell"><span class="brew"> Square Nail </span>
                                            <br>
                                            <span class="brewstyle">(Pale Ale <em>- 5.5% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/20/2.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="center" width="50%" height="840" valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">13
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Steamwhistle </td>
                                        <td class="beer-cell">
                                            <span class="brew"> Pilsner </span>
                                            <br>
                                            <span class="brewstyle">(Pilsner <em>- 5.0% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/20/1.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">14
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Black Bellows </td>
                                        <td class="beer-cell"><span class="brew"> Brown Plus  </span>
                                            <br>
                                            <span class="brewstyle">(Barrel-Aged Brown Ale  <em>- 7.5% ABV</em>)</span></td>
                                        <td class="glass-cell"> <img src="images/glassware/14/5.png" width="131" height="49" alt="..."> </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">15
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Rouge River </td>
                                        <td class="beer-cell"><span class="brew"> Spring Pale Ale </span>
                                            <br>
                                            <span class="brewstyle">(American Pale Ale <em>- 5.5% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/16/2.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">16
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Barnstormer </td>
                                        <td class="beer-cell"><span class="brew"> Cupid's Wing </span><span class="brewstyle"><br> 
              (Hibiscus Red Ale <em>- 6.9% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/16/4.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">17
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Block 3 </td>
                                        <td class="beer-cell"><span class="brew-m"> Ocular Patdown Philly IPA </span>
                                            <br>
                                            <span class="brewstyle"> (American IPA <em>- 7.0% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/16/3.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">18
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Wellington </td>
                                        <td class="beer-cell"><span class="brew"> Kestrel in a Coal Mine </span>
                                            <br>
                                            <span class="brewstyle">(Belgian IPA <em>- 6.5% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/16/2.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">19
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Great Lakes </td>
                                        <td class="beer-cell"><span class="brew"> Octopus Wants to fight</span> <span class="brewstyle">(American IPA <em>- 6.2% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/16/2.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">20
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Small Talk Vineyards </td>
                                        <td class="beer-cell"><span class="brew-m"> Shiny Pear Gewurztraminer </span>
                                            <br>
                                            <span class="brewstyle"> (Pear Cider w/Gewurztraminer <em>- 9.0% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/12/1.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">21
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Ironwood </td>
                                        <td class="beer-cell"><span class="brew"> Tres Robles </span>
                                            <br>
                                            <span class="brewstyle">(Oaked Apple Cider <em>- 7.5% ABV</em>)</span></td>
                                        <td class="glass-cell"><img src="images/glassware/14/1.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">22
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell">Stack</td>
                                        <td class="beer-cell"><span class="brew"> 4x4 </span>
                                            <br>
                                            <span class="brewstyle"> (Belgian Quad <em>- 10.5% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/12/5.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">23
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell">Stack</td>
                                        <td class="beer-cell"><span class="brew"> Portes de L’Enfer </span>
                                            <br>
                                            <span class="brewstyle"> (Biere de Garde <em>- 8.0% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/14/5.png" width="131" height="49" alt="..."></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-bg">
                                <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="no-cell">24
                                            <br>
                                            <span class="spec"></span></td>
                                        <td class="brewery-cell"> Duxbury </td>
                                        <td class="beer-cell"><span class="brew"> Heritage 1650 </span>
                                            <br>
                                            <span class="brewstyle"> (Apple Cider <em>- 6.5% ABV</em>) </span></td>
                                        <td class="glass-cell"><img src="images/glassware/20/1.png" width="131" height="49" alt="...">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" valign="top">
                    <table width="1000" height="67" border="0" cellspacing="0" cellpadding="0" background="images/cell-cask.png">
                        <tr>
                            <td width="95">&nbsp;</td>
                            <td width="290" class="brewery-cask"><span class="brewery-cell"> Durham </span></td>
                            <td width="476" align="left" valign="middle" class="brew"> Red Dragon
                                <br>
                                <span class="brewstyle">(Irish Red Ale <em>- 5.0% abv</em>)</span></td>
                            <td width="139" align="center" valign="middle"> <img src="images/glassware/20/4.png" alt="..."> </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </td>
        </tr>
        </table>
    </div>
    </div>
</body>

</html>
