{% extends "theonly/base.html" %} 
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block appextrahead %}
	<title>Update Taps</title>
	<link rel="stylesheet" type="text/css" href="{% static 'theonly/css/theonly.update_taps.css' %}" />
    <script type="text/javascript" src="{% static 'theonly/js/theonly.update_taps.js' %}"></script>
{% endblock %}

{% block content %}
	
    <h1>The Only Add</h1>
    <div class="container">
		<div class="panel-group" id="accordion">
		    {% for form in formset %}
		        {% crispy form %}
		        {{ form.errors }}
		        {{ form.non_field_errors }}
		    {% endfor %}
    	</div>
    </div>
{% endblock %}

